<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to root_path, class: "navbar-wagon-brand" do %>
     <%= image_tag("logo.svg")%>
  <% end %>

 <!--  <p id=test-logo>.d</p> -->

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <div id="navbar-links">
        <%= link_to "Formulaire", edit_procedure_path(current_user.procedure), class: "#{(params[:controller] == "procedures" && params[:action] == "edit") ? "active-nav" : ""}" %>
        <%= link_to "Mon Dossier", procedure_path(current_user.procedure), class: "#{(params[:controller] == "procedures" && params[:action] == "show") ? "active-nav" : ""}" %>
        <%= link_to "Avocats", avocats_path, class: "#{(params[:controller] == "avocats" && params[:action] == "index") ? "active-nav" : ""}" %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>

      <!-- Login text link -->
      <div id= "navbar-links-login">
        <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    <% end %>

  </div>

</div>
