<%= form_tag procedure_path(@procedure), method: :patch do %>
  <div id="questions">
    <% @questions.each do |question| %>
      <div class="question-container" data-number=>
        <div class="prev">PRECEDENT</div>
        <div class="question">
          <div class="question-text"><%= question["question_text"] %> <span class="pull-right">1/13</span></div>
          <!-- input -->
          <%= send("#{question["field_type"]}_field_tag", "procedure[#{question["column"]}]") %>
          <% if question["photo_cache"] %>
            <%= hidden_field_tag :passport_cache %>
          <% end %>
          <% unless question["answers"].empty? %>
            <div class="answers text-justify">
              <% question["answers"].each do |answer| %>
                <div class="answer" data-input="<%= answer["input_text"] %>">
                  <%= answer["displayed_text"] %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="next">SUIVANT</div>
      </div>
    <% end %>
  </div>
<% end %>
