<div class="container text-center">
 <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
     <div class="form-post">
       <h1>Allez, on attaque </h1>

       <%= simple_form_for (@procedure) do |f| %>
       <%= f.input :first_name, placeholder: "Vanessaaaaaaa"  %>
       <%= f.input :last_name, placeholder: "Paradiiiiiiiiis"  %>
       <%= f.input :child_nb, collection: Procedure::CHILDREN %>
       <%= f.input :marriage_contract %>
       <%= f.input :contract_type, collection: Procedure::MARIAGES %>
       <%= f.input :status_pro %>
       <%= f.input :status_pro_conjoint %>
       <%= f.input :bank_account_nb %>
       <%= f.input :vehicle_nb  %>
       <%= f.input :renter_nb  %>
       <%= f.input :owner_nb  %>
       <%= f.input :credit_nb  %>
       <%= f.input :insurance_nb  %>
       <%=f.input :passport %>
       <%=f.input :passport_cache, as: :hidden %>
       <%=f.input :passport_spouse%>
       <%=f.input :passport_spouse_cache, as: :hidden%>
       <%=f.input :passport_children%>
       <%=f.input :passport_children_cache, as: :hidden%>
       <%=f.input :identity %>
       <%=f.input :identity_cache, as: :hidden %>
       <%=f.input :identity_spouse %>
       <%=f.input :identity_spouse_cache, as: :hidden %>
       <%=f.input :identity_children %>
       <%=f.input :identity_children_cache, as: :hidden %>
       <%=f.input :acte_naissance %>
       <%=f.input :acte_naissance_cache, as: :hidden %>
       <%=f.input :acte_naissance_spouse %>
       <%=f.input :acte_naissance_spouse_cache, as: :hidden %>
       <%=f.input :acte_naissance_children %>
       <%=f.input :acte_naissance_children_cache, as: :hidden %>
       <%=f.input :livret %>
       <%=f.input :livret_cache, as: :hidden %>
       <%=f.input :acte_mariage %>
       <%=f.input :acte_mariage_cache, as: :hidden %>
       <%=f.input :contract_mariage %>
       <%=f.input :contract_mariage_cache, as: :hidden %>
       <%=f.input :taxe_habitation %>
       <%=f.input :taxe_habitation_cache, as: :hidden %>
       <%=f.input :taxe_fonciere %>
       <%=f.input :taxe_fonciere_cache, as: :hidden %>
       <%=f.input :rent %>
       <%=f.input :rent_cache, as: :hidden %>
       <%=f.input :bills %>
       <%=f.input :bills_cache, as: :hidden %>
       <%=f.input :insurance_vehicle %>
       <%=f.input :insurance_vehicle_cache, as: :hidden %>
       <%=f.input :life_insurance %>
       <%=f.input :life_insurance_cache, as: :hidden %>
       <%=f.input :insurance_other %>
       <%=f.input :insurance_other_cache, as: :hidden %>
       <%=f.input :scolarite %>
       <%=f.input :scolarite_cache, as: :hidden %>
       <%=f.input :caf %>
       <%=f.input :caf_cache, as: :hidden %>
       <%=f.input :payroll %>
       <%=f.input :payroll_cache, as: :hidden %>
       <%=f.input :payroll_spouse %>
       <%=f.input :payroll_spouse_cache, as: :hidden %>
       <%=f.input :payroll_dec %>
       <%=f.input :payroll_dec_cache, as: :hidden %>
       <%=f.input :payroll_spouse_dec %>
       <%=f.input :payroll_spouse_dec_cache, as: :hidden %>
       <%=f.input :bilan_company %>
       <%=f.input :bilan_company_cache, as: :hidden %>
       <%=f.input :unemployment %>
       <%=f.input :unemployment_cache, as: :hidden %>
       <%=f.input :unemployment_spouse %>
       <%=f.input :unemployment_spouse_cache, as: :hidden %>
       <%=f.input :pro_revenu %>
       <%=f.input :pro_revenu_cache, as: :hidden %>
       <%=f.input :pro_revenu_spouse %>
       <%=f.input :pro_revenu_spouse_cache, as: :hidden %>
       <%=f.input :taxes %>
       <%=f.input :taxes_cache, as: :hidden %>
       <%=f.input :taxes_spouse %>
       <%=f.input :taxes_spouse_cache, as: :hidden %>
       <%=f.input :property %>
       <%=f.input :property_cache, as: :hidden %>
       <%=f.input :revenu_foncier %>
       <%=f.input :revenu_foncier_cache, as: :hidden %>
       <%=f.input :bank_account %>
       <%=f.input :bank_account_cache, as: :hidden %>
       <%=f.input :carte_grise %>
       <%=f.input :carte_grise_cache, as: :hidden %>
       <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
       <% end %>
     </div>
   </div>
 </div>
</div>

