<div class="container text-center">
  <div class="container_recap">
    <br>
    <div class="recap">

      <div class="progress-wrap progress" data-progress-percent="<%= (12 - @champ_not_done)*100/12 %>">
        <div class="progress-bar progress"></div>
      </div>

      <h2 style="color: #60919F; font-size: 22px; text-align: left; padding-left: 35px">RECAPITULATIF DE VOTRE PROCEDURE</h2>


      <div class="metrics">
        <% if @champ_not_done == 0 %>
          <div class="metrics-question">
          <i class="fa fa-check" style="font-size: 20px; margin: 5px" aria-hidden="true"></i>
            <p>Vous avez rempli votre questionnaire</p>
          </div>
        <% else %>
          <div class="metrics-question">
          <i class="fa fa-question" style="font-size: 20px; margin: 5px" aria-hidden="true"></i>
          <p><%= (12 - @champ_not_done)*100/12 %> % questions complétées</p>
          </div>
        <% end %>

        <% if @doc - @doc_upload == 0 %>
          <div class="metrics-document">
            <i class="fa fa-check" style="font-size: 20px; margin: 5px" aria-hidden="true"></i>
            <p>Vous avez téléchargé tous les documents</p>
          </div>
        <% else %>
        <div class="metrics-document">
          <i class="fa fa-file-text-o" style="font-size: 20px ; margin: 5px" aria-hidden="true"></i>
          <p><%= @doc_upload * 100/ @doc %> % documents téléchargés</p>
        </div>
        <% end %>
      </div>
      <div class="container-fluid">
        <div class="row no-margin text-left">
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 50px">
            <div class="box">
              <p class="title">Nom complet</p>
              <p class="answer"><%= @procedure.full_name %></p>
              <p class="title">Enfants</p>
              <p class="answer"><%= @procedure.child_nb %></p>
              <p class="title">Contrat de mariage</p>
              <p class="answer"><%= @procedure.contract_type %></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 50px">
            <div class="box">
              <p class="title">Statut professionnel</p>
              <p class="answer"><%= @procedure.status_pro %></p>
              <p class="title">Statut professionnel du conjoint</p>
              <p class="answer"><%= @procedure.status_pro_conjoint %></p>
              <p class="title">Comptes bancaires communs</p>
              <p class="answer"><%= @procedure.bank_account_nb %></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 50px">
            <div class="box">
              <p class="title">Situation immobilière</p>
              <% if @procedure.owner_nb %>
                <p class="answer">Locataire</p>
              <% end %>
              <p class="title">Véhicules en commun<p>
              <p class="answer"><%= @procedure.vehicle_nb %></p>
              <p class="title">Assurances en commun</p>
              <p class="answer"><%= @procedure.insurance_nb %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row no-margin">
          <div class="col-lg-4 col-lg-offset-4">
            <% if @champ_not_done != 0 %>
              <%= link_to "JE COMPLETE MON DOSSIER", edit_procedure_path, class: "btn btn-call-to-action" %>
            <% else %>
              <%= link_to "JE TROUVE MON AVOCAT", avocats_path, class: "btn btn-call-to-action", style:"padding-left: 40px; padding-right: 40px" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_docs text-left">
    <%= link_to procedure_zipcreate_path(@procedure), class: "btn-zip" do %>
      <span>> télécharger</span>
      <i class="fa fa-file-archive-o"></i>
    <% end %>
    <h4 style="color: #60919F; padding-left: 15px;">MES DOCUMENTS</h4>
    <div class="row">

    <ul>

      <!-- passeport -->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :passport_from_camera %>
                <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:passport].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.passport, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Votre passeport</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_passport"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :passport, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :passport_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
          </div>
        <% end  %>
      <% end %>

<!-- passeport de l'épouse-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :passport_spouse_from_camera %>
                <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:passport_spouse].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.passport_spouse, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Passeport de votre conjoint</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_passport_spouse"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :passport_spouse, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :passport_spouse_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
          </div>
        <% end  %>
      <% end %>


<!-- passeport des enfants-->
      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :passport_children_from_camera %>
                <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:passport_children].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.passport_children, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Passeport de vos enfants</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_children_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_passport_children"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :passport_children, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :passport_children_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
          </div>
        <% end  %>
        <% end %>
      <% end %>

<!-- identité de la personne-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :identity_from_camera %>
                <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:identity].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.identity, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Votre carte d'identité</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_identity"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :identity, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :identity_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
          </div>
        <% end  %>
      <% end %>

<!-- identité de votre conjoint-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :identity_spouse_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:identity_spouse].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.identity_spouse, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Carte d'identité de votre conjoint</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_identity_spouse"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :identity_spouse, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :identity_spouse_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end  %>
      <% end %>

<!-- identité des enfants-->
      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :identity_children_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:identity_children].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.identity_children, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Carte d'identité de vos enfants</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_children_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_identity_children"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :identity_children, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :identity_children_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end %>
        <% end %>
      <% end %>

<!-- Acte de naissance-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :acte_naissance_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:acte_naissance].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.acte_naissance, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Votre acte de naissance</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="acte_naissance_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_acte_naissance"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :acte_naissance, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :acte_naissance_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>

<!-- Acte de naissance de votre conjoint-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :acte_naissance_spouse_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:acte_naissance_spouse].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.acte_naissance_spouse, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Acte de naissance de votre conjoint</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="acte_naissance_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_acte_naissance_spouse"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :acte_naissance_spouse, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :acte_naissance_spouse_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>

<!-- Acte de naissance de vos enfants-->
      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                  <div class="doc-description"><ol>Acte de naissance de vos enfants</ol></div>
                  <% if @procedure[:acte_naissance_children].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

<!-- Livret de famille-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :livret_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:livret].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.livret, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Livret de famille</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="livret_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_livret"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :livret, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :livret_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>

<!-- Acte de marriage-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :acte_mariage_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:acte_mariage].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.acte_mariage, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Votre acte de mariage</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="acte_mariage_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_acte_mariage"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :acte_mariage, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :acte_mariage_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>

<!-- Contrat de marriage-->
      <% if @procedure.marriage_contract == true %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :contract_mariage_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:contract_mariage].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.contract_mariage, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Contrat de Mariage</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="contract_mariage_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_contract_mariage"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :contract_mariage, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :contract_mariage_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>

<!-- Statut pro du current user-->
      <% if !@procedure.status_pro.nil? %>
          <% if @procedure.status_pro = "Salarié" %>
            <%= simple_form_for @procedure do |f| %>
              <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
                  <%= hidden_field_tag :payroll_from_camera %>
                  <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:payroll].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.payroll, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Vos 3 derniers bulletins de salaire</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="payroll_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_payroll"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :payroll, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :payroll_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
            <%= simple_form_for @procedure do |f| %>
              <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
                  <%= hidden_field_tag :payroll_dec_from_camera %>
                  <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:payroll_dec].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.payroll_dec, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Votre bulletin de Décembre Dernier</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="payroll_dec_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_payroll_dec"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :payroll_dec, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :payroll_dec_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>

          <% elsif @procedure.status_pro = "Chef d'enterprise" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers bilans de l'entreprise</ol></div>
                <% if @procedure[:bilan_company].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Libéral" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemploymenT].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

<!-- Statut pro du conjoint-->
      <% if !@procedure.status_pro_conjoint.nil? %>
          <% if @procedure.status_pro_conjoint == "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll_spouse].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_spouse_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro_conjoint == "Libéral" %>
            <%= simple_form_for @procedure do |f| %>
              <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
                  <%= hidden_field_tag :pro_revenu_spouse_from_camera %>
                  <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:pro_revenu_spouse].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.pro_revenu_spouse, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Déclarations de revenu (conjoint)</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="pro_revenu_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_pro_revenu_spouse"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :pro_revenu_spouse, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :pro_revenu_spouse_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemployment_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

<!-- Relevé bancaire des comptes -->
      <% if !@procedure.bank_account_nb.nil? %>
        <% if @procedure.bank_account_nb > 0 %>
          <%= simple_form_for @procedure do |f| %>
              <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
                  <%= hidden_field_tag :bank_account_from_camera %>
                  <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:bank_account].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.bank_account, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Relevé bancaire de vos comptes</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="bank_account_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_bank_account"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :bank_account, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :bank_account_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
        <% end %>
      <% end %>

<!-- Avis d'imposition -->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
                  <%= hidden_field_tag :taxes_from_camera %>
                  <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:taxes].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.taxes, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Vos avis d'imposition</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="taxes_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_taxes"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :taxes, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :taxes_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
          </div>
        <% end %>
      <% end %>

<!-- Avis d'imposition de votre conjoint-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
                  <%= hidden_field_tag :taxes_spouse_from_camera %>
                  <div class="cards">
                    <div class="card-nil text-center">
                      <% if @procedure[:taxes_spouse].nil? %>
                        <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                        </div>
                      <% else %>
                        <div class="card__preview">
                          <%= cl_image_tag @procedure.taxes_spouse, class: "doc-preview" %>
                        </div>
                      <% end %>
                      <div class="card__info">
                        <div class="doc-des">Avis d'imposition de votre conjoint</div>

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="taxes_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                        <label for="procedure_taxes_spouse"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :taxes_spouse, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                        <%= f.hidden_field :taxes_spouse_cache %>
                        <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                        <!-- <i class="fa fa-eye"></i> -->
                      </div>
                    </div>
                  </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Taxe foncière</ol></div>
              <% if @procedure[:taxe_fonciere].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Titre de propriété</ol></div>
              <% if @procedure[:property].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

<!-- Taxe d'habitation -->
      <% if !@procedure.renter_nb.nil? %>
        <% if @procedure.renter_nb > 0 %>
          <%= simple_form_for @procedure do |f| %>
            <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :taxe_habitation_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:taxe_habitation].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                            <%= cl_image_tag @procedure.taxe_habitation, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Votre dernière taxe d'habitation</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="taxe_habitation_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_taxe_habitation"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :taxe_habitation, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :taxe_habitation_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

<!-- Quittance de loyer -->
      <% if !@procedure.renter_nb.nil? %>
        <% if @procedure.renter_nb > 0 %>
          <%= simple_form_for @procedure do |f| %>
            <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :rent_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:rent].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.rent, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Vos 3 dernières quittances de loyer</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="rent_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_rent"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :rent, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :rent_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>


      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Certificats de scolarité</ol></div>
              <% if @procedure[:scolarite].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Relevé de la CAF</ol></div>
              <% if @procedure[:caf].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Carte grise de vos véhicules</ol></div>
              <% if @procedure[:carte_grise].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Assurance véhicule</ol></div>
              <% if @procedure[:insurance_vehicle].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

<!-- Facture EDF -->
      <% if @procedure.full_name != "" %>
          <%= simple_form_for @procedure do |f| %>
            <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :bills_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:bills].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.bills, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Un justificatif de domicile</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="bills_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_bills"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :bills, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :bills_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
            </div>
          <% end %>
      <% end %>

<!-- Assurance justif -->
      <% if !@procedure.insurance_nb.nil? %>
        <% if @procedure.insurance_nb > 0 %>
          <%= simple_form_for @procedure do |f| %>
            <div class="col-xs-12 col-sm-6 col-lg-4" style="margin-top: 30px">
              <%= hidden_field_tag :insurance_other_from_camera %>
              <div class="cards">
                <div class="card-nil text-center">
                  <% if @procedure[:insurance_other].nil? %>
                    <div class="card__preview__nil" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                  <% else %>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.insurance_other, class: "doc-preview" %>
                    </div>
                  <% end %>
                  <div class="card__info">
                    <div class="doc-des">Justificatif de votre assurance</div>

                    <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="insurance_other_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>

                    <label for="procedure_insurance_other"><i class="fa fa-upload" aria-hidden="true"></i></label>
                    <%= f.file_field :insurance_other, class: "recap-file-upload", style: "font-size: 6px; display: none"%>
                    <%= f.hidden_field :insurance_other_cache %>
                    <%#= f.submit "Telécharger", style: "font-size: 6px" %>

                    <!-- <i class="fa fa-eye"></i> -->
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      </ul>
    </div>
  </div>
</div>

<!-- Modal for camera -->
<div class="modal fade" id="camMod" tabindex="-1" role="dialog" aria-labelledby="camMLb">
  <div class="modal-dialog modal-lg" style="width: 670px; padding: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Utiliser Camera</h4>
      </div>
      <div class="modal-body" style="padding: 0px">
        <video id="video" width="640" height="480" style="padding-left: 25px" autoplay></video>
        <canvas id="canvas" width="640" height="480" class="hide"></canvas>
        <div class="text-center">
          <a class="btn btn-primary" style="margin: 10px" id="snap" data-type='1'>Snap Photo</a>
        </div>
      </div>
    </div>
  </div>
</div>

