<div class="container text-center">

   <div class="container_recap">
    <div class="recap">

      <p>Il vous manque <%= @champ_not_done %> champs du questionnaire à remplir</p>
      <p>Vous avez rempli <%= (12 - @champ_not_done)*100/12 %>% du questionnaire</p>

        <div class="progress-pie-chart" data-percent="43">
          <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span><%= (12 - @champ_not_done)*100/12 %>%</span>
            </div>
          </div>
        </div>
      <div class="button-questionnaire">
          <%= link_to "Retour au questionnaire", edit_procedure_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>



  <div class="container_docs text-left">
    <div class="docs" style="border-color: #F0F4F8; border-radius: 20px; border-width: 1px; border-style: solid; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30); padding: 20px; margin: 10px">
      <ul>
        <h3>Listing de tous vos documents restant à uploader</h3>

        <% if @procedure.first_name != "" || @procedure.last_name != "" %>
          <% if @procedure[:passport].nil? %>
            <div class="doc">
              <ol>Passeport</ol>
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          <% end %>
        <% end %>

        <% if @procedure.first_name != "" || @procedure.last_name != "" %>
          <% if @procedure[:passport_spouse].nil? %>
            <div class="doc">
              <ol>Passeport de votre conjoint</ol>
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          <% end %>
        <% end %>

        <% if !@procedure.child_nb.nil? %>
          <% if @procedure.child_nb > 0 %>
            <% if @procedure[:passport_children].nil? %>
              <div class="doc">
                <ol>Passeport de vos <%= @procedure.child_nb %> enfants</ol>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if @procedure.first_name != "" || @procedure.last_name != "" %>
          <% if @procedure[:identity].nil? %>
            <div class="doc">
              <ol>Votre carte d'identité</ol>
            </div>
          <% end %>
        <% end %>

        <% if @procedure.first_name != "" || @procedure.last_name != "" %>
          <% if @procedure[:identity_spouse].nil? %>
            <div class="doc">
              <ol>Carte d'identité de votre conjoint</ol>
            </div>
          <% end %>
        <% end %>

        <% if !@procedure.child_nb.nil? %>
          <% if @procedure.child_nb > 0 %>
            <% if @procedure[:identity_children].nil? %>
              <div class="doc"><ol>Carte d'identité de vos enfants</ol></div>
            <% end %>
          <% end %>
        <% end %>

        <% if @procedure.first_name != "" || @procedure.last_name != "" %>
          <% if @procedure[:acte_naissance].nil? %>
            <div class="doc"><ol>Acte de naissance</ol></div>
          <% end %>
        <% end %>

        <% if @procedure.first_name != "" || @procedure.last_name != "" %>
          <% if @procedure[:acte_naissance_spouse].nil? %>
            <div class="doc"><ol>Acte de naissance de votre conjoint</ol></div>
          <% end %>
        <% end %>

        <% if !@procedure.child_nb.nil? %>
          <% if @procedure.child_nb > 0 %>
            <% if @procedure[:acte_naissance_children].nil? %>
              <div class="doc"><ol>Acte de naissance de <%= @procedure.child_nb %> enfants</ol></div>
            <% end %>
          <% end %>
        <% end %>

        <% if @procedure[:livret].nil? %>
          <div class="doc"><ol>Livret de famille</ol></div>
        <% end %>

        <% if @procedure[:acte_mariage].nil? %>
          <div class="doc"><ol>Acte de mariage</ol></div>
        <% end %>

        <% if @procedure[:contract_mariage].nil? %>
          <div class="doc"><ol>Contrat de mariage</ol></div>
        <% end %>


        <% if @procedure[:taxe_habitation].nil? %>
          <ol>Taxe d'habitation de vos logements</ol>
        <% end %>

        <% if @procedure[:taxe_fonciere].nil? %>
          <ol>Taxe foncière</ol>
        <% end %>

        <% if @procedure[:rent].nil? %>
          <ol>Vos quittances de loyer</ol>
        <% end %>

        <% if @procedure[:bills].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:insurance_vehicle].nil? %>
          <li>Votre assurance véhicule</li>
        <% end %>

        <% if @procedure[:insurance_other].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if !@procedure.child_nb.nil? %>
          <% if @procedure.child_nb > 0 %>
            <% if @procedure[:scolarite].nil? %>
              <li>Les certificats de scolarité de vos <%= @procedure.child_nb %> enfants</li>
            <% end %>
          <% end %>
        <% end %>

        <% if !@procedure.child_nb.nil? %>
          <% if @procedure.child_nb > 0 %>
            <% if @procedure[:caf].nil? %>
              <li>Passeport de votre conjoint</li>
            <% end %>
          <% end %>
        <% end %>

        <% if @procedure[:payroll].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:payroll_spouse].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:payroll_dec].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:payroll_spouse_dec].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:bilan_company].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:unemployment].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:unemployment_spouse].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:pro_revenu].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:pro_revenu_spouse].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:taxes].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:taxes_spouse].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:property].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:revenu_foncier].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:bank_account].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>

        <% if @procedure[:carte_grise].nil? %>
          <li>Passeport de votre conjoint</li>
        <% end %>


      </ul>
    </div>
  </div>

  <%= link_to "Accès aux avocats", avocats_path, class: "btn btn-primary", style: "margin: 20px" %>

</div>

