<div class="container text-center">
  <div class="container_recap">
    <br>
    <h1 style="color: #60919F; font-size: 22px">RECAPITULATIF DE VOTRE PROCEDURE</h1>
    <div class="recap">

      <div class="progress-wrap progress" data-progress-percent="<%= (12 - @champ_not_done)*100/12 %>">
        <div class="progress-bar progress"></div>
      </div>
      <h3><%= @procedure.full_name %></h3>
      <div class="metrics">
        <div class="metrics-question">
          <i class="fa fa-question" style="font-size: 20px; margin: 5px" aria-hidden="true"></i>
          <p><%= @champ_not_done %> champs à remplir</p>
        </div>

        <div class="metrics-document">
          <i class="fa fa-file-text-o" style="font-size: 20px ; margin: 5px" aria-hidden="true"></i>
          <p><%= @doc_not_upload %> documents à uploader</p>
        </div>
      </div>

      <div class="button-questionnaire">
          <%= link_to "RETOUR AU QUESTIONNAIRE", edit_procedure_path, style: "color: #60919F" %>
      </div>
      <%= link_to "TROUVER MON AVOCAT", avocats_path, class: "btn btn-call-to-action" %>


      <div class="wrapper-progress ">
        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
          <li><a href="#tab1" class="active">Situation familiale</a></li>
          <li><a href="#tab2">Situation financière</a></li>
          <li><a href="#tab3">Situation foncière</a></li>
        </ul>
        <section id="first-tab-group" class="tabgroup">
          <div id="tab1">
            <p>Enfants: <%= @procedure.child_nb %></p>
            <p>Type de Contrat de Mariage: <%= @procedure.contract_type %></p>
          </div>
          <div id="tab2">
            <div id="bis text-left">
              <p>Votre Siuation Professionnelle: <%= @procedure.status_pro %></p>
              <p>La Siuation Professionnelle de Votre Conjoint: <%= @procedure.status_pro_conjoint %></p>
              </div>
            <div id="bis text-left">
              <p>Relevé bancaire: <%= @procedure.bank_account_nb %></p>
              <p>Crédit bancaire: <%= @procedure.credit_nb %></p>

            </div>
          </div>
          <div id="tab3">
            <div id="bis text-left">
              <p>Logements dont vous êtes propriétaire: <%= @procedure.owner_nb %></p>
              <p>Logements dont vous êtes locataire: <%= @procedure.renter_nb %></p>
            </div>
            <div id="ter text-left">
              <p>Véhicule: <%= @procedure.vehicle_nb %></p>
              <p>Assurance: <%= @procedure.insurance_nb %></p>
            </div>

          </div>
        </section>
      </div>
    </div>
  </div>


  <div class="container_docs text-left">
    <h4 style="color: #60919F; padding-left: 15px;">DOCUMENTS EN ATTENTE DE TELECHARGEMENT</h4>
    <div class="row">
      <ul>


      <!-- passeport -->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :passport_from_camera %>
              <% if @procedure[:passport].nil? %>
                <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Votre Passeport</h3>
                    <div class="card__preview" style="background-image: url('<%= cl_image_tag('add-file.png')%>');">
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_from_camera"><i class="fa fa-camera"></i></div>
                      <i class="fa fa-upload"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Votre Passeport</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.passport, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        <% end  %>
      <% end %>

<!-- passeport de l'épouse-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :passport_spouse_from_camera %>
              <% if @procedure[:passport_spouse].nil? %>
                <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Passeport de votre conjoint</h3>
                    <div class="card__preview" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Passeport de votre conjoint</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.passport_spouse, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        <% end  %>
      <% end %>


<!-- passeport des enfants-->
      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :passport_children_from_camera %>
              <% if @procedure[:passport_children].nil? %>
                <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Passeport de vos enfants</h3>
                    <div class="card__preview" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                    <div class="card__info">

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_children_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Passeport de vos enfants</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.passport_children, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_children_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>

              <% end %>
          </div>
        <% end  %>
        <% end %>
      <% end %>

<!-- identité de la personne-->
      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <%= hidden_field_tag :identity_from_camera %>
            <% if @procedure[:identity].nil? %>
              <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Votre carte d'identité</h3>
                    <div class="card__preview" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                    <div class="card__info">

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                        <%= f.submit "Valider" %>
                        <label for="procedure_identity"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :identity, style: "font-size: 6px"%>
                        <%= f.hidden_field :identity_cache %>
                        <%= f.submit "Telécharger" %>
                        <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Votre carte d'identité</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.identity, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
        </div>
      <% end  %>
      <% end %>

<!-- identité de votre conjoint-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :identity_spouse_from_camera %>
              <% if @procedure[:identity_spouse].nil? %>
                <div class="doc-description"><ol>Carte d'identité de votre conjoint</ol></div>
                <button type="button" class="camBtn btn-upload text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_spouse_from_camera"><i class="fa fa-camera"></i>Scanner</button>
                <%= f.submit "Valider", class: "btn-validate" %>
                <button type="button" class="btn-upload text-center"><i class="fa fa-cloud-upload"></i>
                <%= f.label "Télécharger", class: "upload" %></button>
                <%= f.file_field :identity_spouse, class: "btn-file" %>
                <%= f.file_field :identity_spouse_cache, as: :hidden, class: "btn-file" %>
                <%= f.submit "Telécharger", class: "btn-file" %>

              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Carte d'identité de votre conjoint</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.identity_spouse, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                        <%= f.submit "Valider" %>
                        <label for="procedure_identity"><i class="fa fa-upload" aria-hidden="true"></i></label>
                        <%= f.file_field :identity_spouse, style: "font-size: 6px"%>
                        <%= f.hidden_field :identity_spouse_cache %>
                        <%= f.submit "Telécharger" %>
                        <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        <% end  %>
      <% end %>

<!-- identité des enfants-->
      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Carte d'identité de vos enfants</ol></div>
              <%= hidden_field_tag :identity_children_from_camera %>
              <% if @procedure[:identity_childen].nil? %>
                <div type="button" class="camBtn btn-upload text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_children_from_camera"><i class="fa fa-camera"></i>Scanner</div>
                <div type="button" class="camBtn btn-upload text-center"><i class="fa fa-cloud-upload"></i>Télécharger</div>
                <label for="procedure_identity"><i class="fa fa-upload" aria-hidden="true" style="font-size: 30px"></i></label>
                <%= f.file_field :identity_childen %>
                <%= f.hidden_field :identity_children_cache %>
                <%= f.submit "Valider", class: "btn-validate" %>
              <% else %>
                <%= cl_image_tag @procedure.identity_children %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% end %>
      <% end %>

      <% if @procedure.full_name != "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Votre Acte de naissance</ol></div>
              <% if @procedure[:acte_naissance].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if @procedure.full_name != "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Acte de naissance de votre conjoint</ol></div>
              <% if @procedure[:acte_naissance_spouse].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                  <div class="doc-description"><ol>Acte de naissance de vos enfants</ol></div>
                  <% if @procedure[:acte_naissance_children].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Livret de famille</ol></div>
            <%= hidden_field_tag :livret_from_camera %>
            <% if @procedure[:livret].nil? %>
                <div type="button" class="camBtn btn-upload text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="livret_from_camera"><i class="fa fa-camera"></i>Scanner</div>
                <div type="button" class="camBtn btn-upload text-center"><i class="fa fa-cloud-upload"></i>Télécharger</div>
                <%= f.submit "Valider", class: "btn-validate" %>
            <% else %>
              <div class="doc-category text-center">TELECHARGER UN NOUVEAU FICHIER</div>
              <%= cl_image_tag @procedure.livret %>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="doc">
            <div class="doc-description"><ol>Acte de marriage</ol></div>
            <% if @procedure[:acte_mariage].nil? %>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
        </div>
      </div>
      <% end %>

      <% if @procedure.marriage_contract == true %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Contrat de marriage</ol></div>
              <% if @procedure[:contract_mariage].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.status_pro.nil? %>

          <% if @procedure.status_pro = "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Chef d'enterprise" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers bilans de l'entreprise</ol></div>
                <% if @procedure[:bilan_company].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Libéral" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemploymenT].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

      <% if !@procedure.status_pro.nil? %>

          <% if @procedure.status_pro = "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll_spouse].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_spouse_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Liberal" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemployment_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

      <% if !@procedure.bank_account_nb.nil? %>
        <% if @procedure.bank_account_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <% if @procedure[:bank_account].nil? %>
                <div class="doc-description"><ol>Relevés bancaires de vos comptes</ol></div>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.full_name == "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <% if @procedure[:taxes].nil? %>
              <div class="doc-description"><ol>Avis d'impositions</ol></div>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.full_name == "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <% if @procedure[:taxes_spouse].nil? %>
              <div class="doc-description"><ol>Avis d'imposition de votre conjoint</ol></div>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
          </div>
        </div>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Taxe foncière</ol></div>
              <% if @procedure[:taxe_fonciere].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Titre de propriété</ol></div>
              <% if @procedure[:property].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? %>
        <% if @procedure.renter_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                <div class="doc-description"><ol>Taxe d'habitation</ol></div>
                <% if @procedure[:taxe_habitation].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? %>`
        <% if @procedure.renter_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                <div class="doc-description"><ol>Quittance de loyer</ol></div>
                <% if @procedure[:rent].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Certificats de scolarité</ol></div>
              <% if @procedure[:scolarite].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Relevé de la CAF</ol></div>
              <% if @procedure[:caf].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Carte grise de vos véhicules</ol></div>
              <% if @procedure[:carte_grise].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Assurance véhicule</ol></div>
              <% if @procedure[:insurance_vehicle].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? && !@procedure.owner_nb.nil? %>
        <% if @procedure.renter_nb > 0 && @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatif de domicile - Facture EDF ou telephone</ol></div>
              <% if @procedure[:bills].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.insurance_nb.nil? %>
        <% if @procedure.insurance_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatifs d'Assurance</ol></div>
              <% if @procedure[:insurance_other].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      </ul>
    </div>
  </div>
</div>

<!-- Modal for camera -->
<div class="modal fade" id="camMod" tabindex="-1" role="dialog" aria-labelledby="camMLb">
  <div class="modal-dialog modal-lg" style="width: 670px; padding: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Utiliser Camera</h4>
      </div>
      <div class="modal-body" style="padding: 0px">
        <video id="video" width="100%" height="480" autoplay></video>
        <canvas id="canvas" width="100%" height="480" class="hide"></canvas>
        <div class="text-center">
          <a class="btn btn-primary" style="margin: 10px" id="snap" data-type='1'>Snap Photo</a>
        </div>
      </div>
    </div>
  </div>
</div>


<ul>
  <% if !@procedure.full_name.nil? %>
    <% if !@procedure[:passport].nil? || !@procedure[:passport_spouse].nil? %>
      <li>Passport</li>
      <li>Passport conjoint</li>
    <% end %>
  <% end %>

  <% if !@procedure.child_nb.nil? %>
    <% if @procedure.child_nb > 0 %>
      <% for i in 1..(@procedure.child_nb) %>
        <li>Passeport du <%= i %>er enfant </li>
      <% end %>
    <% end %>
  <% end %>

  <!-- ID exemple -->
  <% if !@procedure.full_name == "" %>
    <% if !@procedure[:identity].nil? || !@procedure[:identity_spouse].nil? %>
      <li>Carte d’Identite</li>
      <li>Carte d’Identite conjoint</li>
    <% end %>
  <% end %>

  <% if !@procedure.child_nb.nil? %>
    <% if @procedure.child_nb > 0 %>
      <% for i in 1..(@procedure.child_nb) %>
        <li>Carte d'identité du <%= i %>er enfant </li>
      <% end %>
    <% end %>
  <% end %>

  <!-- acte de naissance exemple -->
  <% if !@procedure.full_name == "" %>
    <% if !@procedure[:acte_naissance].nil? || !@procedure[:acte_naissance_spouse].nil? %>
      <li>Acte de Naissance</li>
      <li>Acte de Naissance conjoint</li>
    <% end %>
  <% end %>

  <% if !@procedure.child_nb.nil? %>
    <% if @procedure.child_nb > 0 %>
      <% for i in 1..(@procedure.child_nb) %>
        <li>Acte de naissance du <%= i %>er enfant </li>
      <% end %>
    <% end %>
  <% end %>

  <!-- contrat de mariage exemple -->
  <% if !@procedure.full_name == "" %>
    <% if !@procedure[:livret].nil? || !@procedure[:acte_mariage].nil? %>
      <li>Livret de Famille </li>
      <li>Acte de Mariage</li>
    <% end %>
  <% end %>

  <% if !@procedure.marriage_contract.nil? %>
    <% if @procedure.marriage_contract == true %>
      <li>Contrat de Mariage </li>
    <% end %>
  <% end %>

  <!--   listing du revenu -->
  <% if !@procedure.status_pro == "" %>
      <% if @procedure.status_pro == "Salarié" %>
        <li>Dernier Bulletin de Salaire</li>
        <li>Bulletin de Salaire du mois de décembre de l’année précédente</li>
      <% elsif @procedure.status_pro == "Chef d'entreprise" %>
        <li>Trois derniers Bilan Entreprise</li>
      <% elsif @procedure.status_pro == "Sans emploi" %>
        <li>Attestation Chômage (check exact document) </li>
      <% elsif @procedure.status_pro == "Libéral" %>
        <li>Trois dernières Déclaration de Revenus professionnels </li>
      <% end %>
  <% end %>

  <% if @procedure.status_pro_conjoint == "" %>
  <% else %>
    <% if @procedure.status_pro_conjoint == "Salarié" %>
      <li>Dernier Bulletin de Salaire du conjoint </li>
      <li>Bulletin de Salaire du mois de décembre de l’année précédente du conjoint </li>
    <% elsif @procedure.status_pro_conjoint == "Chef d'entreprise" %>
      <li>Trois derniers Bilan Entreprise du conjoint </li>
    <% elsif @procedure.status_pro_conjoint == "Sans emploi" %>
      <li>Attestation Chômage (check exact document) du conjoint </li>
    <% elsif @procedure.status_pro_conjoint == "Libéral" %>
      <li>Trois dernières Déclaration de Revenus professionnels du conjoint </li>
    <% end %>
  <% end %>

  <% if !@procedure.bank_account_nb.nil? %>
    <% if @procedure.bank_account_nb > 0 %>
      <% for i in 1..(@procedure.bank_account_nb) %>
        <li>Relevés du <%= i %>er compte bancaire</li>
      <% end %>
    <% end %>
  <% end %>

  <% if !@procedure.full_name == "" %>
    <% if !@procedure[:taxes].nil? %>
      <li>Trois derniers avis d’imposition</li>
    <% end %>
  <% end %>

  <% if !@procedure.owner_nb.nil? %>
    <% if @procedure.owner_nb > 0 %>
      <% for i in 1..(@procedure.owner_nb) %>
        <li>Titre de propriété de la <%= i %>er propriété</li>
        <li>Revenues Fonciers de la <%= i %>er propriété</li>
      <% end %>
    <% end %>
  <% end %>

  <% if !@procedure.renter_nb.nil? %>
    <% if @procedure.renter_nb > 0 %>
      <% for i in 1..(@procedure.renter_nb) %>
        <li>Taxe habitation de la <%= i %>er location</li>
        <li>Taxe foncière de la <%= i %>er location</li>
        <li>Quittance Loyer de la <%= i %>er location</li>
      <% end %>
    <% end %>
  <% end %>

  <% if !@procedure.vehicle_nb.nil? %>
    <% if @procedure.vehicle_nb > 0 %>
      <% for i in 1..(@procedure.vehicle_nb) %>
        <li>Carte Grise de votre <%= i %>er véhicule</li>
      <% end %>
    <% end %>
  <% end %>

  <% if !@procedure.vehicle_nb.nil? %>
    <li>Assurance véhicule</li>
  <% end %>

  <% if !@procedure[:bills].nil? %>
    <li>Factures (EDF, eau, tel…) </li>
  <% end %>

  <% if !@procedure.child_nb.nil? %>
    <% if @procedure.child_nb > 0 %>
      <li>Relevé de la CAF</li>
    <% end %>
  <% end %>


  <% if !@procedure.child_nb.nil? %>
    <% if @procedure.child_nb > 0 %>
      <% for i in 1..(@procedure.child_nb) %>
        <li>Certificats scolarité du <%= i %>er enfant</li>
      <% end %>
    <% end %>
  <% end %>

  <% if !@procedure.insurance_nb.nil? %>
    <li>Assurance diverse</li>
  <% end %>
</ul>
