<div class="container text-center">
  <div class="container_recap">
    <br>
    <h1 style="color: #60919F; font-size: 22px">RECAPITULATIF DE VOTRE PROCEDURE</h1>
    <div class="recap">

      <div class="progress-wrap progress" data-progress-percent="<%= (12 - @champ_not_done)*100/12 %>">
        <div class="progress-bar progress"></div>
      </div>
      <h1><%= @procedure.full_name %></h1>
      <div class="metrics">
        <div class="metrics-question">
          <i class="fa fa-question" style="font-size: 20px; margin: 5px" aria-hidden="true"></i>
          <p><%= @champ_not_done %> champs à remplir</p>
        </div>

        <div class="metrics-document">
          <i class="fa fa-file-text-o" style="font-size: 20px ; margin: 5px" aria-hidden="true"></i>
          <p><%= @doc_not_upload %> documents à uploader</p>
        </div>
      </div>

      <div class="button-questionnaire">
          <%= link_to "RETOUR AU QUESTIONNAIRE", edit_procedure_path, style: "color: #60919F" %>
      </div>
      <%= link_to "TROUVER MON AVOCAT", avocats_path, class: "btn btn-call-to-action" %>


      <div class="wrapper-progress ">
        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
          <li><a href="#tab1" class="active">Situation familiale</a></li>
          <li><a href="#tab2">Situation financière</a></li>
          <li><a href="#tab3">Situation foncière</a></li>
        </ul>
        <section id="first-tab-group" class="tabgroup">
          <div id="tab1">
            <p>Enfants: <%= @procedure.child_nb %></p>
            <p>Type de Contrat de Mariage: <%= @procedure.contract_type %></p>
          </div>
          <div id="tab2">
            <div id="bis text-left">
              <p>Votre Siuation Professionnelle: <%= @procedure.status_pro %></p>
              <p>La Siuation Professionnelle de Votre Conjoint: <%= @procedure.status_pro_conjoint %></p>
              </div>
            <div id="bis text-left">
              <p>Relevé bancaire: <%= @procedure.bank_account_nb %></p>
              <p>Crédit bancaire: <%= @procedure.credit_nb %></p>

            </div>
          </div>
          <div id="tab3">
            <div id="bis text-left">
              <p>Logements dont vous êtes propriétaire: <%= @procedure.owner_nb %></p>
              <p>Logements dont vous êtes locataire: <%= @procedure.renter_nb %></p>
            </div>
            <div id="ter text-left">
              <p>Véhicule: <%= @procedure.vehicle_nb %></p>
              <p>Assurance: <%= @procedure.insurance_nb %></p>
            </div>

          </div>
        </section>
      </div>
    </div>
  </div>


  <div class="container_docs text-left">
    <h4 style="color: #60919F; padding-left: 15px;"><strong>DOCUMENTS EN ATTENTE DE TELECHARGEMENT</strong></h4>
    <div class="row">
      <ul>


      <!-- passeport -->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :passport_from_camera %>
              <% if @procedure[:passport].nil? %>
                <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Votre Passeport</h3>
                    <div class="card__preview" style="background-image: url('<%= cl_image_tag('add-file.png')%>');">
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_from_camera"><i class="fa fa-camera"></i></div>
                      <%= f.submit "Valider", class: "btn-validate" %>
                      <i class="fa fa-upload"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Votre Passeport</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.passport, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        <% end  %>
      <% end %>

<!-- passeport de l'épouse-->
      <% if @procedure.full_name != "" %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :passport_spouse_from_camera %>
              <% if @procedure[:passport_spouse].nil? %>
                <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Passeport de votre conjoint</h3>
                    <div class="card__preview" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Passeport de votre conjoint</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.passport_spouse, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_spouse_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
          </div>
        <% end  %>
      <% end %>


<!-- passeport des enfants-->
      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
              <%= hidden_field_tag :passport_children_from_camera %>
              <% if @procedure[:passport_children].nil? %>
                <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Passeport de vos enfants</h3>
                    <div class="card__preview" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                    <div class="card__info">

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_children_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Passeport de vos enfants</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.passport_children, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_children_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>

              <% end %>
          </div>
        <% end  %>
        <% end %>
      <% end %>

<!-- identité de la personne-->
      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <%= hidden_field_tag :identity_from_camera %>
            <% if @procedure[:identity].nil? %>
              <div class="cards">
                  <div class="card-nil text-center">
                    <h3 class="card__title doc-description-nil text-center">Votre carte d'identité</h3>
                    <div class="card__preview" style="background-image: url('<%= image_path('add-file.png')%>');">
                    </div>
                    <div class="card__info">

                        <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="cards">
                  <div class="card text-center">
                    <h3 class="card__title doc-description text-center">Votre carte d'identité</h3>
                    <div class="card__preview">
                      <%= cl_image_tag @procedure.identity, class: "doc-preview" %>
                    </div>
                    <div class="card__info">
                      <div type="button" class="camBtn" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <i class="fa fa-upload" aria-hidden="true"></i>
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              <% end %>
        </div>
      <% end  %>
      <% end %>

<!-- identité de votre conjoint-->
      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Carte d'identité de votre conjoint</ol></div>
            <%= hidden_field_tag :identity_spouse_from_camera %>
            <% if @procedure[:identity_spouse].nil? %>
              <div type="button" class="camBtn btn-upload text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_spouse_from_camera"><i class="fa fa-camera"></i>Scanner</div>
              <div type="button" class="btn-upload text-center"><i class="fa fa-cloud-upload"></i>
              <%= f.label "Télécharger", class: "upload" %></div>
              <%= f.file_field :identity_spouse, class: "btn-file" %>
              <%= f.file_field :identity_spouse_cache, as: :hidden, class: "btn-file" %>
              <%= f.submit "Telécharger", class: "btn-file" %>
              <%= f.submit "Valider", class: "btn-validate" %>
            <% else %>
              <div class="doc-category text-center">TELECHARGER</div>
              <div class="badge badge-green"><i class="fa fa-check" aria-hidden="true"></i></div>
              <%= cl_image_tag @procedure.identity_spouse %>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
        <%= simple_form_for @procedure do |f| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Carte d'identité de vos enfants</ol></div>
              <%= hidden_field_tag :identity_children_from_camera %>
              <% if @procedure[:identity_childen].nil? %>
                <div type="button" class="camBtn btn-upload text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_children_from_camera"><i class="fa fa-camera"></i>Scanner</div>
                <div type="button" class="camBtn btn-upload text-center"><i class="fa fa-cloud-upload"></i>Télécharger</div>
                <%= f.submit "Valider", class: "btn-validate" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% end %>
      <% end %>

      <% if @procedure.full_name != "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Votre Acte de naissance</ol></div>
              <% if @procedure[:acte_naissance].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if @procedure.full_name != "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Acte de naissance de votre conjoint</ol></div>
              <% if @procedure[:acte_naissance_spouse].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                  <div class="doc-description"><ol>Acte de naissance de vos enfants</ol></div>
                  <% if @procedure[:acte_naissance_children].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Livret de famille</ol></div>
            <%= hidden_field_tag :livret_from_camera %>
            <% if @procedure[:livret].nil? %>
                <div type="button" class="camBtn btn-upload text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="livret_from_camera"><i class="fa fa-camera"></i>Scanner</div>
                <div type="button" class="camBtn btn-upload text-center"><i class="fa fa-cloud-upload"></i>Télécharger</div>
                <%= f.submit "Valider", class: "btn-validate" %>
            <% else %>
              <div class="doc-category text-center">TELECHARGER UN NOUVEAU FICHIER</div>
              <%= cl_image_tag @procedure.livret %>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="doc">
            <div class="doc-description"><ol>Acte de marriage</ol></div>
            <% if @procedure[:acte_mariage].nil? %>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
        </div>
      </div>
      <% end %>

      <% if @procedure.marriage_contract == true %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Contrat de marriage</ol></div>
              <% if @procedure[:contract_mariage].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.status_pro.nil? %>

          <% if @procedure.status_pro = "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Chef d'enterprise" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers bilans de l'entreprise</ol></div>
                <% if @procedure[:bilan_company].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Libéral" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemploymenT].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

      <% if !@procedure.status_pro.nil? %>

          <% if @procedure.status_pro = "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll_spouse].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_spouse_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Liberal" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemployment_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

      <% if !@procedure.bank_account_nb.nil? %>
        <% if @procedure.bank_account_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <% if @procedure[:bank_account].nil? %>
                <div class="doc-description"><ol>Relevés bancaires de vos comptes</ol></div>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.full_name == "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <% if @procedure[:taxes].nil? %>
              <div class="doc-description"><ol>Avis d'impositions</ol></div>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.full_name == "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <% if @procedure[:taxes_spouse].nil? %>
              <div class="doc-description"><ol>Avis d'imposition de votre conjoint</ol></div>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
          </div>
        </div>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Taxe foncière</ol></div>
              <% if @procedure[:taxe_fonciere].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Titre de propriété</ol></div>
              <% if @procedure[:property].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? %>
        <% if @procedure.renter_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                <div class="doc-description"><ol>Taxe d'habitation</ol></div>
                <% if @procedure[:taxe_habitation].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? %>`
        <% if @procedure.renter_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                <div class="doc-description"><ol>Quittance de loyer</ol></div>
                <% if @procedure[:rent].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Certificats de scolarité</ol></div>
              <% if @procedure[:scolarite].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Relevé de la CAF</ol></div>
              <% if @procedure[:caf].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Carte grise de vos véhicules</ol></div>
              <% if @procedure[:carte_grise].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Assurance véhicule</ol></div>
              <% if @procedure[:insurance_vehicle].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? && !@procedure.owner_nb.nil? %>
        <% if @procedure.renter_nb > 0 && @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatif de domicile - Facture EDF ou telephone</ol></div>
              <% if @procedure[:bills].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.insurance_nb.nil? %>
        <% if @procedure.insurance_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatifs d'Assurance</ol></div>
              <% if @procedure[:insurance_other].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      </ul>
    </div>
  </div>
</div>

<!-- Modal for camera -->
<div class="modal fade" id="camMod" tabindex="-1" role="dialog" aria-labelledby="camMLb">
  <div class="modal-dialog modal-lg" style="width: 670px; padding: 0px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Utiliser Camera</h4>
      </div>
      <div class="modal-body" style="padding: 0px">
        <video id="video" width="100%" height="480" autoplay></video>
        <canvas id="canvas" width="100%" height="480" class="hide"></canvas>
        <div class="text-center">
          <a class="btn btn-primary" style="margin: 10px" id="snap" data-type='1'>Snap Photo</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="dashboard">

  <div class="overview-nav">

  </div>

  <section class="overview">
    <div class="wrapper">
      <div class="overview-container">
        <div class="campaign-search">
          <h2>Search</h2>
        </div>
        <div class="dashboard-overview">
          <div class="location-card--wrap">
            <div class="location-card">
              <div class="status offline">
                <span class="">offline</span>
              </div>
              <div class="preview">
                <div class="img-wrap">
                  <div class="campaign-image"></div>
                </div>
            </div>
              <div class="controls">
                 <div class="edit-title">
                    <svg viewBox="0 0 18 18" style="display: inline-block; color: rgba(0, 0, 0, 0.870588); fill: rgb(255, 255, 255); height: 25px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; user-select: none;"><g transform="translate(-51.000000, -27.000000)"><g transform="translate(48.000000, 24.000000)"><path d="M3,17.25 L3,21 L6.75,21 L17.81,9.94 L14.06,6.19 L3,17.25 L3,17.25 Z M20.71,7.04 C21.1,6.65 21.1,6.02 20.71,5.63 L18.37,3.29 C17.98,2.9 17.35,2.9 16.96,3.29 L15.13,5.12 L18.88,8.87 L20.71,7.04 L20.71,7.04 Z"></path></g></g></svg>
                    <span>View Dashboard</span>
                  </div>
                <div class="campaign-title">
                  <span class="title">Car Star – Location 1</span>
                </div>
                <div class="settings">
                  <button>
                    <span>test</span>
                  </button>
                </div>

                </div>
              <div class="hover-settings">
                  <div class="row">
                    <div class="set">
                      <a href="http://ormtools.xyz/dashboard" class="tooltip" title="View Dashboard" tabindex="0" type="button">
                        <svg viewBox="0 0 18 18" style="display: inline-block; color: rgba(0, 0, 0, 0.870588); fill: rgb(76, 83, 95); height: 16px; width: 16px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; user-select: none;"><g transform="translate(-51.000000, -27.000000)"><g transform="translate(48.000000, 24.000000)"><path d="M3,17.25 L3,21 L6.75,21 L17.81,9.94 L14.06,6.19 L3,17.25 L3,17.25 Z M20.71,7.04 C21.1,6.65 21.1,6.02 20.71,5.63 L18.37,3.29 C17.98,2.9 17.35,2.9 16.96,3.29 L15.13,5.12 L18.88,8.87 L20.71,7.04 L20.71,7.04 Z"></path></g></g></svg></a>
                    </div>
                    <div class="set">
                      <a href="http://ormtools.xyz/dashboard/location/11" class="tooltip" title="Location Reports" tabindex="0" type="button">
                        <svg viewBox="0 0 18 18" style="display: inline-block; color: rgba(0, 0, 0, 0.870588); fill: rgb(76, 83, 95); height: 16px; width: 16px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; user-select: none;"><g transform="translate(-195.000000, -363.000000)"><g transform="translate(192.000000, 360.000000)"><path d="M19,3 L5,3 C3.9,3 3,3.9 3,5 L3,19 C3,20.1 3.9,21 5,21 L19,21 C20.1,21 21,20.1 21,19 L21,5 C21,3.9 20.1,3 19,3 L19,3 Z M9,17 L7,17 L7,10 L9,10 L9,17 L9,17 Z M13,17 L11,17 L11,7 L13,7 L13,17 L13,17 Z M17,17 L15,17 L15,13 L17,13 L17,17 L17,17 Z"></path></g></g></svg></a>
                    </div>
                    <div class="set">
                      <a href="http://carstarsoutheast.surveypanda.ca/" class="tooltip" title="View Funnel" tabindex="0" type="button">
                        <svg viewBox="0 0 24 24" style="display: inline-block; color: rgba(0, 0, 0, 0.870588); fill: rgb(76, 83, 95); height: 16px; width: 16px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; user-select: none;"><path d="M12,4.5 C7,4.5 2.73,7.61 1,12 C2.73,16.39 7,19.5 12,19.5 C17,19.5 21.27,16.39 23,12 C21.27,7.61 17,4.5 12,4.5 L12,4.5 Z M12,17 C9.24,17 7,14.76 7,12 C7,9.24 9.24,7 12,7 C14.76,7 17,9.24 17,12 C17,14.76 14.76,17 12,17 L12,17 Z M12,9 C10.34,9 9,10.34 9,12 C9,13.66 10.34,15 12,15 C13.66,15 15,13.66 15,12 C15,10.34 13.66,9 12,9 L12,9 Z"></path></svg></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </section>

</div> -->

