<div class="container text-center">
  <div class="container_recap">
    <br>
    <h1 style="color: #60919F; font-size: 22px">RECAPITULATIF DE VOTRE PROCEDURE</h1>
    <div class="recap">

      <div class="progress-wrap progress" data-progress-percent="<%= (12 - @champ_not_done)*100/12 %>">
        <div class="progress-bar progress"></div>
      </div>
      <h1><%= @procedure.full_name %></h1>
      <div class="metrics">
        <div class="metrics-question">
          <i class="fa fa-question" style="font-size: 20px; margin: 5px" aria-hidden="true"></i>
          <p><%= @champ_not_done %> champs à remplir</p>
        </div>

        <div class="metrics-document">
          <i class="fa fa-file-text-o" style="font-size: 20px ; margin: 5px" aria-hidden="true"></i>
          <p><%= @doc_not_upload %> documents à uploader</p>
        </div>
      </div>

      <div class="button-questionnaire">
          <%= link_to "RETOUR AU QUESTIONNAIRE", edit_procedure_path, style: "color: #60919F" %>
      </div>
      <%= link_to "TROUVER MON AVOCAT", avocats_path, class: "btn btn-call-to-action" %>


      <div class="wrapper-progress ">
        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
          <li><a href="#tab1" class="active">Situation familiale</a></li>
          <li><a href="#tab2">Situation financière</a></li>
          <li><a href="#tab3">Situation foncière</a></li>
        </ul>
        <section id="first-tab-group" class="tabgroup">
          <div id="tab1">
            <p>Enfants: <%= @procedure.child_nb %></p>
            <p>Type de Contrat de Mariage: <%= @procedure.contract_type %></p>
          </div>
          <div id="tab2">
            <div id="bis text-left">
              <p>Votre Siuation Professionnelle: <%= @procedure.status_pro %></p>
              <p>La Siuation Professionnelle de Votre Conjoint: <%= @procedure.status_pro_conjoint %></p>
              </div>
            <div id="bis text-left">
              <p>Relevé bancaire: <%= @procedure.bank_account_nb %></p>
              <p>Crédit bancaire: <%= @procedure.credit_nb %></p>

            </div>
          </div>
          <div id="tab3">
            <div id="bis text-left">
              <p>Logements dont vous êtes propriétaire: <%= @procedure.owner_nb %></p>
              <p>Logements dont vous êtes locataire: <%= @procedure.renter_nb %></p>
            </div>
            <div id="ter text-left">
              <p>Véhicule: <%= @procedure.vehicle_nb %></p>
              <p>Assurance: <%= @procedure.insurance_nb %></p>
            </div>

          </div>
        </section>
      </div>
    </div>
  </div>


  <div class="container_docs text-left">
    <p style="color: #60919F"><strong>DOCUMENTS EN ATTENTE DE TELECHARGEMENT</strong></p>
    <div class="row">
      <ul>

      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Passeport</ol></div>
            <%= hidden_field_tag :passport_from_camera %>
            <% if @procedure[:passport].nil? %>
              <button type="button" class="camBtn doc-category btn-call-to-action text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_from_camera">
               <i class="glyphicon glyphicon-camera"></i>SCANNER</button>
              <div class="doc-category btn-call-to-action text-center">TELECHARGER</div>
              <div> <%= f.submit "Valider" %></div>
            <% else %>
              <div class="doc-category-if-done text-center">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-upload" aria-hidden="true"></i>
              </div>
              <%= cl_image_tag @procedure.passport, class: "doc-preview" %>
            <% end %>
          </div>
        </div>
      <% end  %>
     <% end %>


      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Passeport de votre conjoint</ol></div>
            <%= hidden_field_tag :passport_spouse_from_camera %>
            <% if @procedure[:passport_spouse].nil? %>
              <button type="button" class="camBtn doc-category btn-call-to-action text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="passport_spouse_from_camera">
               <i class="glyphicon glyphicon-camera"></i> Camera </button>
              <div class="doc-category btn-call-to-action text-center">TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <div> <%= f.submit "Valider" %></div>
            <% else %>
              <div class="doc-category-if-done text-center">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-upload" aria-hidden="true"></i>
              </div>
              <%= cl_image_tag @procedure.passport_spouse, class: "doc-preview" %>
            <% end %>
          </div>
        </div>
      <% end  %>
     <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                  <div class="doc-description"><ol>Passeport de vos <%= @procedure.child_nb %> enfants</ol></div>
                  <% if @procedure[:passport_children].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Carte d'identité</ol></div>
            <%= hidden_field_tag :identity_from_camera %>
            <% if @procedure[:identity].nil? %>
              <div class="doc-category-if-no">
                <button type="button" class="camBtn doc-category btn-call-to-action text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_from_camera">
                <i class="glyphicon glyphicon-camera"></i>SCANNER</button>
                <div class="btn-call-to-action text-center">TELECHARGER</div>
                <div> <%= f.submit "Valider" %></div>
              </div>
            <% else %>
              <div class="doc-category-if-done text-center">TELECHARGER UN NOUVEAU FICHIER</div>
              <div class="badge badge-green"><i class="fa fa-check" aria-hidden="true"></i></div>
              <%= cl_image_tag @procedure.identity %>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Carte d'identité de votre conjoint</ol></div>
            <%= hidden_field_tag :identity_spouse_from_camera %>
            <% if @procedure[:identity_spouse].nil? %>
              <button type="button" class="camBtn doc-category btn-call-to-action text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="identity_spouse_from_camera">
               <i class="glyphicon glyphicon-camera"></i> Camera </button>
              <div class="doc-category btn-call-to-action text-center">TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <div> <%= f.submit "Valider" %></div>
            <% else %>
              <div class="doc-category text-center">TELECHARGER UN NOUVEAU FICHIER</div>
              <div class="badge badge-green"><i class="fa fa-check" aria-hidden="true"></i></div>
              <%= cl_image_tag @procedure.identity_spouse %>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                  <div class="doc-description"><ol>Carte d'identité de vos enfants</ol></div>
                  <% if @procedure[:identity_childen].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @procedure.full_name != "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Votre Acte de naissance</ol></div>
              <% if @procedure[:acte_naissance].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if @procedure.full_name != "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Acte de naissance de votre conjoint</ol></div>
              <% if @procedure[:acte_naissance_spouse].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                  <div class="doc-description"><ol>Acte de naissance de vos enfants</ol></div>
                  <% if @procedure[:acte_naissance_children].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <%= simple_form_for @procedure do |f| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <div class="doc-description"><ol>Livret de famille</ol></div>
            <%= hidden_field_tag :livret_from_camera %>
            <% if @procedure[:livret].nil? %>
              <button type="button" class="camBtn doc-category btn-call-to-action text-center" data-toggle="modal" data-type="1" data-target="#camMod" data-camera-snapshot-field="livret_from_camera">
               <i class="glyphicon glyphicon-camera"></i> Camera </button>
              <div class="doc-category btn-call-to-action text-center">TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <div> <%= f.submit "Valider" %></div>
            <% else %>
              <div class="doc-category text-center">TELECHARGER UN NOUVEAU FICHIER</div>
              <div class="badge badge-green"><i class="fa fa-check" aria-hidden="true"></i></div>
              <%= cl_image_tag @procedure.livret %>
            <% end %>
          </div>
        </div>
      <% end  %>
      <% end %>

      <% if @procedure.full_name != "" %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="doc">
            <div class="doc-description"><ol>Acte de marriage</ol></div>
            <% if @procedure[:acte_mariage].nil? %>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
        </div>
      </div>
      <% end %>

      <% if @procedure.marriage_contract == true %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
              <div class="doc-description"><ol>Contrat de marriage</ol></div>
              <% if @procedure[:contract_mariage].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.status_pro.nil? %>

          <% if @procedure.status_pro = "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Chef d'enterprise" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers bilans de l'entreprise</ol></div>
                <% if @procedure[:bilan_company].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Libéral" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemploymenT].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

      <% if !@procedure.status_pro.nil? %>

          <% if @procedure.status_pro = "Salarié" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>3 derniers Bulletins de salaires</ol></div>
                <% if @procedure[:payroll_spouse].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Bulletin de salaires de décembre</ol></div>
                <% if @procedure[:payroll_spouse_dec].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
              </div>
            </div>

          <% elsif @procedure.status_pro = "Libéral" %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Déclaration de revenu professionnel</ol></div>
                  <% if @procedure[:pro_revenu_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>

          <% else %>
            <div class="col-xs-12 col-sm-6 col-lg-4">
              <div class="doc">
                <div class="doc-description"><ol>Justification d'allocation chomage</ol></div>
                  <% if @procedure[:unemployment_spouse].nil? %>
                    <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                    <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% end %>

      <% if !@procedure.bank_account_nb.nil? %>
        <% if @procedure.bank_account_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <% if @procedure[:bank_account].nil? %>
                <div class="doc-description"><ol>Relevés bancaires de vos comptes</ol></div>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.full_name == "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <% if @procedure[:taxes].nil? %>
              <div class="doc-description"><ol>Bills</ol></div>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if !@procedure.full_name == "" %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="doc">
            <% if @procedure[:taxes_spouse].nil? %>
              <div class="doc-description"><ol>Bills</ol></div>
              <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
              <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
            <% end %>
          </div>
        </div>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Taxe foncière</ol></div>
              <% if @procedure[:taxe_fonciere].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Titre de propriété</ol></div>
              <% if @procedure[:property].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.owner_nb.nil? %>
        <% if @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatifs de vos revenus fonciers</ol></div>
              <% if @procedure[:revenu_foncier].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? %>
        <% if @procedure.renter_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                <div class="doc-description"><ol>Taxe d'habitation</ol></div>
                <% if @procedure[:taxe_habitation].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? %>`
        <% if @procedure.renter_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
                <div class="doc-description"><ol>Quittance de loyer</ol></div>
                <% if @procedure[:rent].nil? %>
                  <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                  <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Certificats de scolarité</ol></div>
              <% if @procedure[:scolarite].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.child_nb.nil? %>
        <% if @procedure.child_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Relevé de la CAF</ol></div>
              <% if @procedure[:caf].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Carte grise de vos véhicules</ol></div>
              <% if @procedure[:carte_grise].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.vehicle_nb.nil? %>
        <% if @procedure.vehicle_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Assurance véhicule</ol></div>
              <% if @procedure[:insurance_vehicle].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>


      <% if !@procedure.renter_nb.nil? && !@procedure.owner_nb.nil? %>
        <% if @procedure.renter_nb > 0 && @procedure.owner_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatif de domicile - Facture EDF ou telephone</ol></div>
              <% if @procedure[:bills].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if !@procedure.insurance_nb.nil? %>
        <% if @procedure.insurance_nb > 0 %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="doc">
              <div class="doc-description"><ol>Justificatifs d'Assurance</ol></div>
              <% if @procedure[:insurance_other].nil? %>
                <div class="doc-category btn-call-to-action text-center">SCANNER OU TELECHARGER</div>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      </ul>
    </div>
  </div>
</div>

<!-- Modal for camera -->
<div class="modal fade" id="camMod" tabindex="-1" role="dialog" aria-labelledby="camMLb">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Utiliser Camera</h4>
      </div>
      <div class="modal-body">
        <video id="video" width="100%" height="480" autoplay></video>
        <canvas id="canvas" width="100%" height="480" class="hide"></canvas>
        <div class="text-center">
          <a class="btn btn-primary" id="snap" data-type='1'>Snap Photo</a>
        </div>
      </div>
    </div>
  </div>
</div>
@
